<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>This Is user profile page</h1>
    <h1 data-th-text="${loggedInUser.name}"></h1>
    <h1 data-th-text="${loggedInUser.email}"></h1>

    <!-- Ager user logeed in hai to  -->

    <div th:if="${loggedInUser}">

        <h2>User Is logged in </h2>
        <h2>This is Logged in section </h2>
    </div>
    
</body>
</html>